:root {
  --lila: #E3DFF7;
  --lila_oscuro: #7060BF;
  --morado: #3C24B2;
  --gris: #1A1A1A;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lila);
  font-family: 'DM Sans';
}

.navbar-custom {
  background-color: var(--morado);
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
  color: var(--lila);
  justify-content: space-between;
  align-items: center;
}

h1, h5 {
  margin-bottom: 0;
}

.titulo1 {
  color: var(--morado);
}


/* ------- ÍCONOS --------*/
.material-symbols-light--home-rounded {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23E3DFF7' d='M5 19v-8.692q0-.384.172-.727t.474-.565l5.385-4.078q.423-.323.966-.323t.972.323l5.385 4.077q.303.222.474.566q.172.343.172.727V19q0 .402-.299.701T18 20h-3.384q-.344 0-.576-.232q-.232-.233-.232-.576v-4.769q0-.343-.232-.575q-.233-.233-.576-.233h-2q-.343 0-.575.233q-.233.232-.233.575v4.77q0 .343-.232.575T9.385 20H6q-.402 0-.701-.299T5 19'/%3E%3C/svg%3E");
}